.navbar {
  background: #ffffff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 4px 10px 1px rgba(220, 220, 220, 0.3);
}

.navbar .hamburger {
    background: #000;
    border: none;
    cursor: pointer;
    display: none;
    height: 74px;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 87px;
    z-index: 1001;
}

.navbar .hamburger span {
  background: #ffffff;
  display: block;
  height: 4px;
  margin: 6px auto;
  width: 31px;
}

.her-name {
  display: block;
  margin: 0 auto;
  max-width: 105px;
  padding-top: 26px;
  padding-bottom: 26px;
  width: 100%;
}

.top-right-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.boxset-container {
    position: relative;
    top: initial;
    left: initial;
    right: 12px;
    height: 74px;
}

.boxset-container a {
  display: table;
  height: 100%;
  text-decoration: none;
}

.boxset-container a div {
  display: table-cell;
  vertical-align: middle;
}

.boxset-container div h4 {
  font-size: 14px;
  padding: 0;
  color: #000000;
  text-align: right;
  margin: 0;
}

.boxset-container div img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.boxset-container a img {
    margin-left: 10px;
}
