<div class="tour">
  <div class="tour-header">
    <ul>
      <li>
        <a href="/tour/">TOUR</a>
      </li>
      <li>></li>
      <li>OTR II</li>
      <li>></li>
      <li>DATES</li>
    </ul>
  </div>
  <div class="current-tour-view">
    <ul class="current-tour-view">
      <li>
        <a class="current-tour-view1" href="https://beyonce.com/tour/otr-ii/dates/">DATES</a>
      </li>
    </ul>
  </div>
  <div class="tour-view">
      <img src="https://www.beyonce.com/uploads/2018/03/cache/jbKJKZTc1vBb_1280x430_74tHK9Wi.jpg" alt="OTR II">
  </div>
  <div class="event-listing-container">
    <div *ngFor="let event of events" (click)="gotToDetailPage(event)" class="event-listing">
      <div>{{event.date}} | {{event.location}} | {{event.venue}}</div>

    </div>

  </div>
</div>
