.tour-header ul li {
    padding: 0;
    margin: 0;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    list-style: none;
    font-size: 75%;
    display: inline;

}

.tour-header a  {
  /* display: block; */
  color: black;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  text-align: center;
}

.tour-header a:visited {
  color: white;
  text-decoration: none !important;
}

.current-tour-view ul {
  list-style: none !important;
  text-decoration: line-through;
  font-size: 75%;
}

.current-tour-view ul::after {
  text-decoration: none;
}

.current-tour-view1 {
  color: black !important;
}

.tour-view img {
  width: 100%;
}

.event-listing .event-edit-button {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px dotted black;
  font-size: .7rem;
  line-height: 2.5rem;
}

.event-listing + .event-listing {
margin-top: 5px;
}

.event-listing .event-edit {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.event-edit-button button {
  background-color: black;
  color: white !important;
  text-decoration: none !important;
  font-size: 1rem;
}
