.container-nav-menu {
  background-color: rgba(0,0,0,.9);
  color: white;
  position: fixed;
  height: 100%;
  width: 80%;
  z-index: 9999;
}

.container-nav-menu::before {
  content: "click-me";
  position: absolute;
  display: block;
  color: white;
  background-color: black;
  top: 0;
  right: -50px;
  width: 50px;
}


.container-nav-menu:focus {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font: inherit;
  vertical-align: baseline;
  border: 0;
}

a.has-children  {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 1;
  text-align: center;
}
