<div tabindex="0" class="container-nav-menu">

<button class="hamburger">
<span></span>
<span></span>
<span></span>
</button>

<div class="nav-menu-inner">
<a href="#">test</a>
</div>
</div>






<!-- <div class="container-nav-menu">
  <div class="nav-menu-content">
    <h2>some shit for the hell of it</h2>
  </div>

</div> -->

<!--
<ul>
  <li>
    <a class="has-children" href="https://beyonce.com/album/">Music</a>
  </li>

  <li>
    <a class="has-children" href="https://beyonce.com/tour/">Tour</a>
  </li>

  <li>
    <a class="has-children" href="https://beyonce.com/beygood/">#BeyGood</a>
  </li>

  <li>
    <a href="http://www.ivypark.com/" target="_blank" class="__web-inspector-hide-shortcut__">Ivy Park</a>
  </li>

  <li>
    <a class="has-children" href="http://shop.beyonce.com/" target="_blank">Shop</a>
  </li>

  <li>
    <a href="/register/">Join</a>
  </li>

</ul> -->
