.container-nav-menu {
  background-color: rgba(0,0,0,.9);
  color: white;
  position: fixed;
  height: 100%;
  width: 70%;
  z-index: 9999;
  left: -70%;
  top: 0;
  transition: all 700ms linear;
  outline: none;
}

.container-nav-menu.nav-menu-open {
  left: 0;
}

.container-nav-menu:before {
  background-color: rgba(0,0,0, 0);
  color: white;
  position: absolute;
  right: -50px;
  width: 50px;
}

.container-nav-menu .hamburger {
  background-color: rgba(0,0,0,.9);
  border: none;
  cursor: pointer;
  display: block;
  height: 74px;
  outline: none;
  position: absolute;
  right: -87px;
  top: 0;
  width: 87px;
  z-index: 1001;
}

.container-nav-menu .hamburger span {
  background: #ffffff;
  display: block;
  height: 4px;
  margin: 6px auto;
  width: 31px;
}

.container-nav-menu .nav-menu-content {
  margin-top: 74px;
}

.container-nav-menu ul {
  padding: 0;
  margin: 0;
  font: inherit;
  /* vertical-align: baseline; */
  border: 0;
  list-style: none;

}

.container-nav-menu li {
  /* float: left; */
}

.container-nav-menu a.has-children  {
  display: block;
  color: #fff;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 5px 0 5px 0;
}

.container-nav-menu a.has-children:visited {
  color: white;
  text-decoration: none;
}

a.search-input h3 {
  color: white !important;
  text-decoration: none;
  font-size: 80%;
}

a.search-input h3: visited {
  text-decoration: none;
}
