.container-nav-menu {
background-color: rgba(0,0,0,.9);
color: white;
position: fixed;
height: 100%;
width: 80%;
z-index: 9999;
/* left: -80%; */
transition: all 500ms ease;
outline: none;
}

.container-nav-menu:before {
/* content: "click me!"; */
background-color: rgba(0,0,0, 0);
color: white;
position: absolute;
right: -50px;
width: 50px;
}

.container-nav-menu:focus {
pointer-events: none;
left: 0;
}




.container-nav-menu .hamburger {
background-color: rgba(0,0,0,.9);
border: none;
cursor: pointer;
display: block;
height: 74px;
outline: none;
position: absolute;
right: -87px;
top: 0;
width: 87px;
z-index: 1001;
}

.container-nav-menu .hamburger span {
background: #ffffff;
display: block;
height: 4px;
margin: 6px auto;
width: 31px;
}

ul {
  padding: 0;
  margin: 0;
  font: inherit;
  /* vertical-align: baseline; */
  border: 0;
  list-style: none;

}

li {
  /* float: left; */


}




a.has-children  {
  display: block;
  color: #fff;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 5px 0 5px 0;
}

a.has-children:visited {
  color: white;
  text-decoration: none;
}
