<div tabindex="0" class="container-nav-menu">

<button class="hamburger">
<span></span>
<span></span>
<span></span>
</button>

<!-- <div class="nav-menu-inner">
<a href="https://www.beyonce.com/static/images/logo-new.svg?v=e03b70d"><img class="menu-her-name" src="https://www.beyonce.com/static/images/logo-new.svg?v=e03b70d" alt="beyonce"></a>
</div> -->
</div>





<img class="menu-her-name" src="https://www.beyonce.com/static/images/logo-new.svg?v=e03b70d" alt="beyonce">

<div class="container-nav-menu">
  <div class="nav-menu-content">
    <ul>

      <li>
        <a class="has-children" href="https://beyonce.com/album/">MUSIC</a>
      </li>

      <li>
        <a class="has-children" href="https://beyonce.com/tour/">TOUR</a>
      </li>

      <li>
        <a class="has-children" href="https://beyonce.com/beygood/">#BEYGOOD</a>
      </li>

      <li>
        <a Class="has-children" href="http://www.ivypark.com/">IVY PARK</a>
      </li>

      <li>
        <a class="has-children" href="http://shop.beyonce.com/">SHOP</a>
      </li>

      <li>
        <a class="has-children" href="http://beyonce.com/register/">JOIN</a>
      </li>

      <!-- <li>
        <a class="has-children" href="https://www.beyonceparfums.com/">FRAGRANCE</a>
      </li> -->

    </ul>
  </div>

</div>
