<div class="container-bey-images">
  <div class="bey-image-item">
    <div class="bey-image-overlay"></div>
    <div class="bey-image-overlay-inner">
      <div class="bey-image-overlay-inner-cell">
        <h2>WARRIORS GAME 4.28</h2>
      </div>
    </div>
    <img src="https://www.beyonce.com/uploads/2018/04/cache/AQtRFLkwR_ml_1280x1280_KaMXZQjO.jpg" alt="WARRIORS GAME 4.28">
  </div>
  <div class="bey-image-item">
    <div class="bey-image-overlay"></div>
    <img src="https://www.beyonce.com/uploads/2018/04/cache/vacZyZiat5fO_1280x1280_KaMXZQjO.jpg" alt="WARRIORs GAME 4.28">
  </div>

</div>
