/* .container-bey-images {
  margin-top: 74px;
} */

.container-bey-images img {
  width: 100%;
}

.bey-image-item {
  position: relative;
}

.bey-image-overlay-inner:hover {
  opacity: 1;
  transition: opacity 500ms ease;
}

.bey-image-overlay-inner {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.bey-image-overlay-inner-cell {

}
