html, body {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 74px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
